In [1]:
import pandas as  pd

In [2]:
dataset = pd.read_csv("Placement_Data_Full_Class.csv")

In [3]:
dataset.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [4]:
dataset.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary'],
      dtype='object')

In [5]:
dataset = pd.get_dummies(dataset, drop_first=True)

In [6]:
X = dataset[['ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p',
       'gender_M', 'ssc_b_Others', 'hsc_b_Others', 'hsc_s_Commerce',
       'hsc_s_Science', 'degree_t_Others', 'degree_t_Sci&Tech', 'workex_Yes',
       'specialisation_Mkt&HR']]

In [7]:
y = dataset['status_Placed']

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
 X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.30, random_state=42)

In [10]:
from keras.models import Sequential

Using TensorFlow backend.

In [11]:
from keras.layers import Dense

In [12]:
from keras.optimizers import Adam

In [13]:
model = Sequential()

In [14]:
model.add(Dense(input_shape=(14,), units=225, activation='relu'))

In [15]:
model.add(Dense(units=116, activation='relu'))

In [16]:
model.add(Dense(units=1,activation='sigmoid'))

In [17]:
model.compile(optimizer=Adam(learning_rate=0.0001), loss='binary_crossentropy', metrics=['accuracy'])

In [18]:
epochs=10

In [19]:
hist=model.fit(X_train,y_train, epochs=epochs, verbose=None)
accuracy=hist.history.get('accuracy')[-1]

In [20]:
def hidden_layer(epochs):
    epochs += 25
    hist1=model.fit(X_train,y_train,epochs=epochs,verbose=None)
    accuracy1=hist1.history.get('accuracy')[-1]
    return accuracy1

In [21]:

while accuracy < 0.95 :
    epochs+=20
    accuracy=hidden_layer(epochs)

In [22]:
print(accuracy)

0.96

In [23]:
model.save('campaign_recruitment.h5')